<div class="sticky-top">
  <div class="list-group">
    <a class="list-group-item list-group-item-action active"
       routerLink="/">All Categories</a>
    <a class="list-group-item list-group-item-action">
      Bread
    </a>
    <a class="list-group-item list-group-item-action">
      Dairy
    </a>
    <a class="list-group-item list-group-item-action">
      Fruits
    </a>
    <a class="list-group-item list-group-item-action">
      Seasonings and Spices
    </a>
    <a class="list-group-item list-group-item-action">
      Vegetables
    </a>
  </div>
</div>