<div class="card mb-4">
  <img class="card-img-top" src="https://cdn-prod.medicalnewstoday.com/content/images/hero/270/270609/270609_1100.jpg" alt="Item image">
  <div class="card-body">
    <h4 class="card-title">Spinach</h4>
    <p class="card-text">$10.00</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-secondary btn-block">Add to Cart</button>
    <div class="row no-gutters">
      <div class="col-2">
        <button class="btn btn-secondary btn-block">
          <i class="fa fa-minus"
             aria-hidden="true"></i>
        </button>
      </div>
      <div class="col text-center quantity">1 in cart
      </div>
      <div class="col-2">
        <button class="btn btn-secondary btn-block">
          <i class="fa fa-plus"
             aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
