<div class="card mb-4">

  <img class="card-img-top" *ngIf="item.imageUrl; else noImage" [src]="item.imageUrl" alt="Item image" />
  <ng-template #noImage>
    <i class="fa fa-picture-o no-img" aria-hidden="true"></i>
    <p class="text-center">No Image available</p>
  </ng-template>

  <div class="card-body">
    <h4 class="card-title">{{ item.name }}</h4>
    <p class="card-text">{{ item.price | currency: "USD" }}</p>
  </div>

  <div class="card-footer">
    <ng-container *ngIf="!isItemInCart; else customize">
      <button class="btn btn-secondary btn-block"
              (click)="addToCart(item)">
        Add to Cart
      </button>
    </ng-container>
    <ng-template #customize>
      <div class="row no-gutters">
        <div class="col-2">
          <button class="btn btn-secondary btn-block" (click)="removeFromCart(item)">
            <i class="fa fa-minus"
               aria-hidden="true"></i>
          </button>
        </div>
        <div class="col text-center quantity">{{ getItemQuantity(item) }} in cart</div>
        <div class="col-2">
          <button class="btn btn-secondary btn-block" (click)="addToCart(item)">
            <i class="fa fa-plus"
               aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </div>

</div>
